body {
  scroll-snap-type: none; 
  scroll-padding: clamp(25px, 1.1vw, 80px);
}

.App {
  text-align: center;
  align-items: "center";
  justify-content: "center";
}


section {
  scroll-snap-align: start;
  scroll-snap-stop: always;
}


/*
Resume Section
*/


.hidden{
  opacity: 0;
  filter: blur(5px);
  transform: translateX(150px);
  transition:  all 1000ms;
}


.show{
  opacity: 1;
  filter: blur(0px);
  transform: translateX(0px);
}

 /*
 Works Section
 */
.work-pic{
  flex: 1;
  width: 100%;
  border-radius: 5px;
  transition: border-radius 1.0s ease-out;
  margin-bottom: 0px;
}
.media-frame{
  max-height: 200px;
  overflow: hidden;
  transition: all .5s ease-out;
}
.work-dyn:hover > .media-frame{ 
  max-height: 500px;
}

.work-desc {
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 0px 0px 25px 25px;
  margin-top: 0px;
  background-color: #EBEEEE;
  opacity:0;
  transition:opacity 0.5s ease-in, max-height 1.5s ease-out ;
  padding: 5px 15px 15px 15px;
  overflow: hidden;
  max-height: 0px;
}

.work-dyn:hover > .work-desc { 
  opacity: 1;
  max-height: 1000px;
}




.work-dyn:hover > .media-frame { 
  width: ""
}
